.mission{
    padding:100px 0;
}

.mission h2{
    text-align:center;
    color:#13233d;
    margin-bottom:60px;
}

.mission-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.mission-card{
    background:white;
    padding:40px 30px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    transition:.35s;
}

.mission-icon{
    width:80px;
    height:80px;
    margin:auto;
    margin-bottom:25px;
    border-radius:50%;
    background:#b38b10;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
}

.mission-card h3{
    margin-bottom:15px;
    color:#13233d;
}

.mission-card p{
    color:#666;
    line-height:1.7;
}

@media(max-width:992px){

.mission-grid{
    grid-template-columns:1fr;
}

}