*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Inter, sans-serif;
    background:#ffffff;
    color:#1b2b45;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    font-family:inherit;
}

img{
    max-width:100%;
    display:block;
}

.container{
    width:90%;
    max-width:1280px;
    margin:auto;
}
button{
    transition:.35s ease;
    cursor:pointer;
}

button:hover{
    transform:translateY(-3px);
}

.primary-btn:hover{
    box-shadow:0 15px 35px rgba(179,139,16,.35);
}

.secondary-btn:hover{
    background:#13233d;
    color:white;
}
section{
    padding:100px 0;
}

.container{
    width:min(1200px,90%);
    margin:auto;
}