nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  border-bottom: 1px solid #ddd;
}

nav h2 {
  color: #8B6B00;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav li {
  cursor: pointer;
}

nav button {
  background: #8B6B00;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #13233d;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #b38b10;
}