nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav h2 {
  color: #8B6B00;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #13233d;
  font-weight: 500;
  transition: .3s;
}

nav ul li a:hover {
  color: #b38b10;
}

nav button {
  background: #8B6B00;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
}

nav button:hover {
  background: #6f5500;
}

/* =========================
   MOBILE
========================= */

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
}

@media(max-width:768px){

    nav{
        padding:15px 20px;
        flex-wrap:wrap;
    }

    .menu-toggle{
        display:block;
    }

    nav ul{
        display:none;
        width:100%;
        flex-direction:column;
        text-align:center;
        margin-top:20px;
        gap:20px;
    }

    nav ul.active{
        display:flex;
    }

    nav button{
        display:none;
    }

    nav h2{
        font-size:1.2rem;
    }

}