.products-hero{
    padding:150px 0 90px;
    text-align:center;
    background:#f8f9fb;
}

.products-hero h1{
    font-size:3.4rem;
    color:#13233d;
    margin:25px 0;
}

.products-hero p{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
    font-size:18px;
}
.search-box{
    width:100%;
    max-width:500px;
    margin-top:35px;
    padding:16px 20px;
    border:2px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

.search-box:focus{
    border-color:#b38b10;
}

.products-list{
    padding:80px 0;
}

.products-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    border-radius:18px;
    padding:35px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-icon{
    font-size:50px;
    color:#b38b10;
    margin-bottom:20px;
}

.product-card h3{
    color:#13233d;
    margin-bottom:15px;
}

.product-card p{
    color:#666;
    line-height:1.7;
    margin-bottom:25px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 40px 0;
}

.filter-buttons button {
  background: white;
  border: 2px solid #b38b10;
  color: #13233d;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.filter-buttons button:hover {
  background: #b38b10;
  color: white;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 40px 0;
}

.filter-buttons button {
  background: white;
  border: 2px solid #b38b10;
  color: #13233d;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.filter-buttons button:hover {
  background: #b38b10;
  color: white;
}

.filter-buttons button.active {
  background: #b38b10;
  color: white;
  border-color: #b38b10;
}
.product-image{
  width:100%;
  height:220px;
  overflow:hidden;
  border-radius:15px;
  margin-bottom:20px;
}

.product-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.4s;
}

.product-card:hover .product-image img{
  transform:scale(1.08);
}